# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: <%= SecureRandom.hex(64) %>

# These keys are used to encrypt sensitive data like API keys.
active_record_encryption:
  primary_key: <%= SecureRandom.alphanumeric(32) %>
  deterministic_key: <%= SecureRandom.alphanumeric(32) %>
  key_derivation_salt: <%= SecureRandom.alphanumeric(32) %>
