name: TavernKit

on:
  pull_request:
  push:
    branches: [ main ]

defaults:
  run:
    working-directory: lib/tavern_kit

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '4.0.1'

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          working-directory: lib/tavern_kit
          bundler-cache: true

      - name: Run the default task
        run: bundle exec rake
